<!-- ##### Header Area Start ##### -->
<header class="header_area">
    <div class="classy-nav-container breakpoint-off d-flex align-items-center justify-content-between">
        <!-- Classy Menu -->
        <nav class="classy-navbar" id="essenceNav">
            <!-- Logo -->
            <a class="nav-brand" href="index.php"><img src="img/core-img/carona-logo.png" alt=""></a>
            <!-- Navbar Toggler -->
            <div class="classy-navbar-toggler">
                <span class="navbarToggler"><span></span><span></span><span></span></span>
            </div>
            <!-- Menu -->
            <div class="classy-menu">
                <!-- close btn -->
                <div class="classycloseIcon">
                    <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                </div>
                <!-- Nav Start -->
                <div class="classynav">
                    <ul>
                        <li><a href="#">Caronas</a>
                            <div class="megamenu">
                                <ul class="single-mega cn-col-4">
                                    <li class="title">Cidades</li>
                                    <li><a href="cadastrar-carona.php">Atibaia</a></li>
                                    <li><a href="cadastrar-carona.php">Bragança Paulista</a></li>
                                    <li><a href="cadastrar-carona.php">Itatiba</a></li>
                                </ul>
                                <ul class="single-mega cn-col-4">
                                    <li class="title">Caronas</li>
                                    <li><a href="cadastrar-carona.php">Cadastre uma Carona</a></li>
                                    <li><a href="solicitar-carona.php">Solicite uma Carona</a></li>
                                    <li><a href="ver-carona.php">Ver Caronas Disponíveis</a></li>
                                </ul>
                                <div class="single-mega cn-col-4">
                                    <img src="img/bg-img/menu-carona.jpg" alt="">
                                </div>
                            </div>
                        </li>
                        <li><a href="#">Páginas</a>
                            <ul class="dropdown">
                                <li><a href="index.php">Home</a></li>
                                <li><a href="login-cadastro.php">Cadastro</a></li>
                                <li><a href="login-cadastro.php">Login</a></li>
                                <li><a href="blog.php">Blog</a></li>
                                <li><a href="contato.php">Contato</a></li>
                            </ul>
                        </li>
                        <li><a href="login-cadastro.php">Cadastre-se</a></li>
                        <li><a href="contato.php">Contato</a></li>
                    </ul>
                </div>
                <!-- Nav End -->
            </div>
        </nav>

        <!-- Header Meta Data -->
        <div class="header-meta d-flex clearfix justify-content-end">

            <!-- User Login Info -->
            <div class="user-login-info">
                <a href="login-cadastro.php"><img src="img/core-img/user.svg" alt=""></a>
            </div>
            <nav class="navbar">
                <div class="dropdown navbar-right" id="right">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown"><?php echo $_SESSION['firstname'];?></button>
                    <ul class="dropdown-menu">
                        <!--<li><a href="account.php">Account</a></li>-->
                        <li><a href="editar-usuario.php">Editar</a></li>
                        <li><a href="javascript:void(0)" onclick="deleteUser();">Deletar</a></li>
                        <li><a href="logout.php">Logout</a></li>
                  </ul>
                </div>
            </nav>
            
        </div>
    </div>
    <div class="delete-user" style="display:none; z-index:9999">
        <div class="delete-text">
            Deseja mesmo excluir o usuário <?php echo $_SESSION['firstname']; ?>?
        </div>
        <div class="delete-btn">
            <span class="delete-btn-nao">
                NÃO
            </span>
            <span class="delete-btn-sim">
                SIM
            </span>
        </div>
    </div>
</header>
<!-- ##### Header Area End ##### -->