    /* ####################################################
    :: Template Name: Essence - Fashion Ecommerce Template
    :: Author: Colorlib
    :: Author URL: https://colorlib.com
    :: Description: Essence is smart & elegant fashion e-commerce Template. It's suitable for all e-commerce business platform.
    :: Version: 1.0.0
    :: Created: April 27, 2018
    :: Last Updated: May 2, 2018
    #################################################### */

    /* ---------------------------------------
    ##### - PLACE YOUR CUSTOM CSS HERE - #####
    --------------------------------------- */

.nav-brand img {
    max-width: 70px;
}
.cadastro-btn {
    margin-top: 1rem;
}
.order-details-confirmation label {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
}
.shop-page .product-img img {
    width: 255px;
    padding: 0 15px;
}
.shop-page .product-topbar .total-products p {
    font-size: 15px;
}
.shop-page .product-topbar .total-products p span {
    font-size: 17px;
}

/*******************RADIO PERSONALIZADO****************************/
/* The container */
.radio-button label:not(.left-title) {
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    padding-top: 3px;
    margin-right: 8px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.radio-button .left-title {
    display:block;
}
/* Hide the browser's default checkbox */
.radio-button label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
/* Create a custom checkbox */
.radio-button .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}
/* On mouse-over, add a grey background color */
.radio-button label:hover input ~ .checkmark {
    background-color: #ccc;
}
/* When the checkbox is checked, add a blue background */
.radio-button  input:checked ~ .checkmark {
    background-color: #2196F3;
}
/* Create the checkmark/indicator (hidden when not checked) */
.radio-button .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
/* Show the checkmark when checked */
.radio-button label input:checked ~ .checkmark:after {
    display: block;
}
/* Style the checkmark/indicator */
.radio-button label .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
/*******************RADIO PERSONALIZADO****************************/
.user-login-info img {
    height: 85px;
}
/*AJUSTANDO LOGIN ALINHAMENTO*/
.header-meta .navbar {
    margin-bottom: 0;
}
a.essence-btn {
    display: inline-block;
    min-width: 170px;
    height: 50px;
    color: #ffffff;
    border: none;
    border-radius: 0;
    padding: 0 40px;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 50px;
    background-color: #0315ff;
    letter-spacing: 1.5px;
    font-weight: 600;
}
h1, h2, h3, h4, h5, h6 {
    color: #000000;
    line-height: 1.3;
    font-weight: 700;
    font-family: "Ubuntu", sans-serif;
}

.delete-user {
    width: 450px;
    position: fixed;
    display: block;
    top: 35%;
    height: 130px;
    left:36%;
    background: white;
    border-top: 5px solid #0315ff;
}
.delete-text {
    width: 450px;
    height:70px;
    display:block;
    font-size: 15px;
    padding: 20px;
}
.delete-btn {
    width: 450px;
    height:60px;
    display:block;
}
.delete-btn-nao, .delete-btn-sim {
    display: inline-block;
    width: 150px;
    margin: 0 30px;
    height:30px;
    text-align: center;
    color: white;
    background: #0315ff;
    padding: 5px 10px;
    cursor:pointer;
}
.header_area.sticky {
    position:static!important;
}
#myTable td a {
    font-size: 14px;
}
#myTable td a:hover {
    color:#0315ff;
    font-size: 16px;
}
.login-page .navbar {
    display:none;
}
body .header_area {
    position: static;
}
body {
    margin-top: 0;
}
ul.dropdown-menu.show li {
    padding-left: 5px;
    border-bottom: 1px solid blue;
}
ul.dropdown-menu.show li:last-child {
    border:none;
}
.dropdown-menu.show {
    right: 0;
    left: auto;
    min-width: 7rem;
}
ul.dropdown-menu.show li:hover a{
    color: #0062cc;
    font-size: 15px;
}